* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: bisque;
}

header {
    background-color: brown;
    color: bisque;
    padding: 10px;
}

footer {
    background-color: brown;
    color: bisque;
    text-align: center;
    padding: 10px;
}